@import url(https://fonts.googleapis.com/css?family=Kosugi+Maru|Merriweather);



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@keyframes example {
	from {
		background-color: #FCAE8E;
	}
	to {
		background-color: white;
	}
}
body {
	text-align: center;
	background-color: white;
	animation-name: example;
	animation-duration: 2s;
}
h1 {
	color: black;
	font-family: 'Merriweather';
}
h4 {
	font-family: 'Kosugi Maru';
	color: black;
	text-transform: uppercase;
	letter-spacing: 3px;
}
p{
	color: lightgray;
	font-family: 'Kosugi Maru';
}
#slogan {
	font-style: italic;
}
img {
	display: block;
	width: 100%;
}
section{
	-webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
}
figure {
	padding: 20px;
	
}
@media (max-width: 1024px){
	section{-webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;}
}

