@import url(https://fonts.googleapis.com/css?family=Kosugi+Maru|Merriweather);

@font-face { 
	font-family: "DrukWide-Bold"; 
	src: url("file:///Users/wsmith/Documents/GitHub/whits129.github.io/unit_8/fonts/DrukWide-Bold.woff") format("woff"); 
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@keyframes example {
	from {
		background-color: white;
	}
	to {
		background-color: white;
	}
}
body {
	text-align: left;
	animation-name: example;
	animation-duration: 2s;
	padding-left: 310px;
}
h1 {
	color: black;
	font-family: "DrukWide-Bold";
	text-transform: uppercase; 
}
h4 {
	font-family: 'DrukWide-Bold';
	color: black;
	letter-spacing: 3px;
	text-transform: uppercase;
}
p{
	color: white;
	font-family: Helvetica;
	padding: 3px;
}
header {
	/*padding: 20px;*/
}
#menu_button{
	display:none;

}
#slogan {
	padding-bottom: 20px;
	padding-top: 20px;
	color: black;

}
nav {
	padding: 20px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: rgb(250,250,250);
	text-align: left;
	width: 320px;
	min-height: 100vh
}
#navlinks {
	padding-bottom: 100px;
}
a {
	font-family: Helvetica;
	font-size: 10pt;
	text-decoration: none;
	color: lightgray;
	display: block;
	padding: 3px;

}
#contact{
	position: fixed;
}
a:hover {
	color: #E89C6C;
}
img {
	display: block;
	width: 100%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
#Futurebot {
	background-color: #77BA4A;
}
#Changemakers {
	background-color: ;
}
#Campfire {
	background-color: ;
}
#Flags {
	background-color: ;
}
#Chadburn {
	background-color: white;
}
#Pillars {
	background-color: ;
}
#Wild {
	background-color: ;
}
figure {
	background-color: ;
	padding: 5% 20%;
	position: relative;
	overflow: hidden;
}
figcaption {
	padding: 5%;
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	transition: left 500ms;
}
figure img {
	transition: filter 1s;
}

figure:hover figcaption {left: 0;} 
figure:hover img {filter: grayscale(1);} 


figcaption div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

footer {
    padding: 20px;
}
@media (max-width: 600px){
	h4,p {
		font-size: .75em;
	}
	#menu_button {
		display:block;
	}
	nav{
		transform: translateX(-310px);
		transition: transform 500ms;
	}
	body{
		padding-left: 0;
	}
	nav.active {
		transform:translateX(0);
	}
}

